@import url("/assets/css/nav.css");

.om-os img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  object-position: top;
  z-index: -1;
}

.om-os {
  justify-content: center;
  align-items: center;
}

.om-os h1 {
  color: #003569;
  font-size: 55px;
  margin: 10px 150px;
  text-align: center;
  justify-content: center;
}
.om-os article {
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  margin: 30px 0px;
  border-radius: 20px;
  display: block;
}

#starter p {
  text-align: center;
  margin: 92px 50px;
  font-size: 35px;
  color: #003569;
}

.om-os p {
  font-size: 25px;
  margin: 30px 70px;
}

.om-os h2 {
  font-size: 25px;
  margin-left: 70px;
}

.om-os h3 {
  text-align: center;
  margin: 50px 200px;
  font-size: 35px;
  background-color: #003569;
  padding: 30px 0px;
  color: white;
  border-radius: 20px;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}

.vores-mission {
  background-color: #fd8551;
  color: white;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}

.vores-ekspertise {
  background-color: #003569;
  color: white;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}

.historien {
  background-color: #05b9fa;
  color: white;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}

.vores-team {
  background-color: #ef185c;
  color: white;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}
.kundetilfredshed {
  background-color: #77d59c;
  color: white;
  box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}
