* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Mulish", sans-serif;
}

nav {
    display: flex;
    width: 100%;
    background-color: #003569;
    box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 1px 6px 14px -5px rgba(0, 0, 0, 0.68);
}

nav ul {
    padding: 25px 40px;
    display: flex;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
}

.nav-logo {
    margin-right: auto;
}

.nav-links {
    gap: 50px;
}

.nav-links li {
    position: relative;
}

.nav-links li::after {
    position: absolute;
    content: "";
    height: 0.2rem;
    width: 0;
    background-color: #ffffff;
    display: block;
    border-radius: 1000px;
    margin-top: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.nav-links li:hover::after {
    width: 100%;
}

.nav-contact {
    margin-left: auto;
}

.nav-contact a {
    padding: 10px 40px;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.nav-contact a:hover {
    background-color: #c4c4c4;
}

.front-page article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    text-align: center;
    position: relative;
    color: #fff;
}

.front-page h1 {
    font-size: 120px;
    margin-bottom: 20px;
    font-weight: 700;
}

.front-page p {
    font-size: 38px;
    margin-bottom: 20px;
    width: 1200px;
    font-weight: 400;
}

.front-page img {
    top: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#ydelser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ydelser h2 {
    margin-top: 50px;
    font-size: 60px;
    font-weight: 700;
}

#ydelser p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}

#ydelser .ydelser-container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

#ydelser .ydelser-container article {
    font-size: 14px;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 15px;
}

#ydelser .ydelser-container article i {
    font-size: 120px;
}

#nyheder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nyheder h2 {
    font-weight: 700;
    margin-top: 50px;
    font-size: 60px;
}

#nyheder .nyheder-container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#nyheder .nyheder-container article {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 15px;
}

#nyheder .nyheder-container article h3 {
    font-size: 30px;
}

#nyheder .nyheder-container article p {
    font-size: 18px;
}
